.open-modal-btn {
	font-size: 14px;
	background-color: transparent;
	color: black;
	border: none;
	text-decoration: underline;
}

.amenities-modal::part(base) {
	z-index: 10000 !important;
	transform: translateY(-600px);
	border: 2px solid #5f8fa5;
	border-radius: 6px;
}

.amenities-modal::part(header) {
	display: none;
}
.amenities-modal::part(panel) {
	max-height: 50vh !important;
	width: 30%;
	overflow-y: hidden;
	--webkit-overflow-scrolling: touch;
	border-image-source: linear-gradient(to right, white, #abccd8, #5f8fa5, #abccd8, white);
	border-image-slice: 1;
	border-image-outset: 0;
	border-image-repeat: stretch; 
	border: 2px solid #5f8fa5;
	border-radius: 6px;
	background-color: white;

	z-index: 2000;
}

.amenities-modal::part(body) {
	margin: 1rem 0rem !important;
}
.amenities-modal-inner-container {
	background-color: white;
	padding: 1rem 1rem;
}

.amenities-modal-inner-container h3 {
	border-bottom: 3px solid transparent;
	border-image-source: linear-gradient(to right, white, #abccd8, #5f8fa5, #abccd8, white);
	border-image-slice: 1;
	border-image-outset: 0;
	border-image-repeat: stretch;
}

.amenities-item-columns {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.amenities-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%
}

.amenities-list {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.amenities-list-item {
	max-width: 300px;
	list-style-type: none;
	overflow-wrap: break-word;
	font-size: 14px;
}
.close-btn-container {
	padding: 0rem 0rem;
	width: 100%;
	position: sticky;
	bottom: 0px;
	display: flex;
	justify-content: flex-start;
}
