.captains-hideaway-header {
	background-position: 0 -250px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	/* cursor: grab;  */
}

/* class added to body when dialog modal is open */
.sl-scroll-lock {
	/* position: fixed; */
	/* inline-size: 100%; */
	overflow-y: hidden !important;
}

@media only screen and (max-device-width: 992px) {
	.captains-hideaway-header {
		background-position: -100px 0;
	}
}

.image-gallery-wrapper {
	max-width: 800px;
	width: 100%;
	margin: 5rem auto 0rem;
	border: 1px solid rgb(146, 129, 242);
	box-shadow: #2b15453d 1px 10px 10px 5px;
}

.overview-card {
	padding: 1rem;
	margin: 1rem 0rem;
	width: 100%;
}

.overview-card .card-title {
	padding: 0.5rem;
	margin: 0.5rem;
	align-self: center;
	border-bottom: 3px solid transparent;
	border-image-source: linear-gradient(to right, white, #abccd8, #5f8fa5, #abccd8, white);
	border-image-slice: 1;
	border-image-outset: 0;
	border-image-repeat: stretch;
}

.overview-card .card-body {
	border: none;
}

.overview {
	padding: 0.5rem;
	margin: 0.5rem;
}

.overview-item {
	display: flex;
}

.overview-item-icon {
	padding-top: 0.5rem;
}

.overview-item p {
	padding: 0rem 0.5rem 0.5rem 0.5rem;
}

.rooms-and-beds-card {
	padding: 0.5rem;
	margin: 1rem 0rem;
}

.rooms-and-beds-card .card-body {
	padding: 0px;
}

.room-and-beds-inner-container {
	padding: 0.5rem;
}

.hideaway-bedroom-description-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.bedroom-description-text {
	font-size: 14px;
}

.spaces-card {
	padding: 0.5rem;
	margin: 1rem 0rem 0.5rem 0rem;
}

.spaces-card .card-body {
	padding: 0.5rem;
}

.spaces-header-text {
	padding: 0.5rem;
}

.spaces-text {
	font-size: 16px;
}

.spaces-item-container {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 0.5rem;
}

@media only screen and (min-device-width: 993px) and (max-device-width: 1241px) {
	.spaces-item-container {
		flex-direction: column;
	}
}

.spaces-item-container p {
	margin: 0rem 0.5rem;
	padding: 0;
}

.captains-hideaway-card-body {
	border-left: 3px solid transparent;
	border-image-source: linear-gradient(white, #abccd8, #5f8fa5, #abccd8, white);
	border-image-slice: 1;
	border-image-outset: 0;

	border-image-repeat: stretch;
}

.about-property-card {
	margin: 0.5rem;
}
.about-property-subheader {
	font-size: 16px;
}

.about-property-text {
	font-size: 14px;
}

.amenities-card {
	padding: 0.5rem;
	margin: 0.5rem;
}

.amenities-item-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.amenities-item-container {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

@media only screen and (max-device-width: 992px) {
	.amenities-item-container {
		flex-wrap: wrap;
	}
}

.amenities-item {
	display: flex;
	align-items: center;
}

.amenities-item p {
	margin: 0rem;
	padding: 0.5rem;
}

.house-rules-card {
	padding: 0.5rem;
	margin: 0.5rem;
}

.house-rules-container {
	display: flex;
	padding: 0.5rem 0.5rem 1rem 0.5rem;
	border-bottom: 1px solid transparent;
	border-image-source: linear-gradient(to right, white, #abccd8, #5f8fa5, #abccd8, white);
	border-image-slice: 1;
	border-image-outset: 0;
	border-image-repeat: stretch;
}

.house-rules-text-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.house-rules-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.damage-incidentals-container {
	display: flex;
	padding: 0.5rem;
	margin: 0.5rem 0rem;
}

.damage-incidentals-text-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.important-information-card {
	padding: 0.5rem;
	margin: 0.5rem;
}

.important-information-card h5 {
	align-self: center;
	margin: 0.5rem 0rem 1rem 0rem;
}

.important-information {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0rem 10rem;
}

@media only screen and (max-device-width: 992px) {
	.important-information {
		padding: 0.5rem;
	}
}

.important-information-text p {
	margin: 0;
	padding: 0.5rem;
	width: 75%;
	text-align: start;
	align-self: left;
}
