.captains-hideaway-header {
  background-image: url("../../public/assets/img/stairs_from_beach_2.png");
  background-repeat: no-repeat;
    background-size: cover;
  height: 400px;
}

.overview-card {
  padding: 1rem;
  margin: 1rem;
}

.overview-card .card-title {
  padding: 0.5rem;
  margin: 0.5rem;
  
}

.overview {
  padding: 0.5rem;
  margin: 0.5rem;

}

.overview-item {
  display: flex;
}

.overview-item-icon {
  padding-top: 0.5rem;
}

.overview-item p {
  padding:0rem 0.5rem 0.5rem 0.5rem;

}

.rooms-and-beds-card {
  padding: 0.5rem;
  margin: 1rem;
}

.rooms-and-beds-card .card-body {
  padding: 0px;
}

.rooms-and-beds-inner-container {

}

.important-information-card {
  margin: 1rem;
}

.important-information {
  height: 100%;
  padding: 0.5rem;
}


.important-information-text p {
  margin: 0;
  padding: 0.5rem;
  width: 75%;
}