.captains-cottage-header {
	background-image: url('../../public/assets/img/captains_cottage_png/back_exterior_side_with_lake');
	background-position: 0 -200px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	cursor: grab; /* Change cursor to a help pointer on hover */

}