.home-header {
  background-image: url('../../public/assets/img/arial_shot_over_beach_side.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-message-container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rental-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}
.rental-card {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 1rem;
}

.rental-description {
  width: 50%;
}

.card-img-bottom {
  height: 200px;
  width: 350px;
  margin: 1rem;
}

.info-booking-btn {
  background-color: grey;
  font-weight: bold;
}

