.home-header {
  background-image: url('../../public/assets/img/arial_shot_over_beach_side.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-message-container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}



