.calendar-container {
  position: sticky;
  z-index: 100;
  top: 0;
}

.react-calendar {
  border-radius: 6px;
  border: 3px solid #5f8fa5
}


.unavailable-day {
  background-color: black;
  color: black;
  height: 20%;
}