.property-card {
  margin: 1rem;
}
.property-information-container {
  display: flex;
  justify-content: center;
}

.property-information-container h3 {
  padding: 0.5rem;
  margin: 0.5rem;
}

.admin-calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}