.navbar {
 border-bottom: 5px solid rgb(200, 188, 167, 0.6);
 /* position: fixed;
 top: 0;
 z-index: 1000; */
 width: 100%;
 background-color: white;
}

.navbar-inner-container {
  display: flex;
  justify-content: space-between;
}
.navbar-link {
  padding: 1rem;
  color: black;
  text-decoration: none;
}