.navbar {
 border-bottom: 5px solid rgb(200, 188, 167, 0.6);
 /* position: fixed;
 top: 0;
 z-index: 1000; */
 width: 100%;
 background-color: white;
}

.navbar-inner-container {
  display: flex;
  justify-content: space-between;
}
.navbar-link {
  padding: 1rem;
  color: black;
  text-decoration: none;
}

.dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  border: 1px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #5f8fa5d8;
  color: white;
  position: absolute;
  z-index: 1000;
}

.dropdown .navbar-link {
  padding: 0.5rem;
  color: white;

}